#pragma once
{{#class_defines}}
#ifndef SERIALIZER_{{class_name}}_H
#define SERIALIZER_{{class_name}}_H
{{/class_defines}}
#include "runtime/core/meta/serializer/serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}


namespace lain{
    {{#class_defines}}template<>
    Json Serializer::write(const {{class_with_namespace}}& instance);
    template<>
    void Serializer::read(const Json& json_context, {{class_with_namespace}}& instance);
    {{/class_defines}}
    {{#enum_defines}}template<>
    Json Serializer::write(const {{enum_with_namespace}}& instance);
    template<>
    void Serializer::read(const Json& json_context, {{enum_with_namespace}}& instance);
    {{/enum_defines}}
}//namespace
{{#class_defines}}
#endif
{{/class_defines}}
